h1 {
	text-align: center;
	background-color: red;
	font-size: 150px;
}

body {
	background: url("u.jpg");	
}

p {
	color: red;
	font-size: 100px;
}

div {
	background-color: red;
	text-color: black;
	background
	font-size: 150px;
}

.neatas {
	font-size: 70px;
}
.down {
	font-size: 30px;